body {
  text-align: center;
}
#Wrapper {
  margin: 0 auto;
  text-align: left;
}

header, #Header {
  border-bottom: 1px solid #333;
  margin-bottom: 18px;
  padding-top: 10px;
}
footer, #Footer {
  border-top: 1px solid #333;
  margin-top: 18px;
  padding-bottom: 10px;
  text-align: center;
}

abbr {
/*  border-bottom: 1px dashed #000;*/
  text-decoration: underline;
  cursor: help;
}

#logo {
  text-align: center;
}

.hide { display: none; }