body {
  background-color: #efefef;
}

#wrapper {
  margin: 0 auto;
  text-align: left;
  border: 1px solid #efefef;
  border-size: 0 1px;
  background-color: #fff;
}

#main-header {
  border-bottom: 3px solid #efefef;
  margin-bottom: 20px;
  padding-top: 10px;
}
#main-footer {
  border-top: 3px solid #efefef;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

#about {
  padding-top: 5px;
}

article {
  border-bottom: 1px solid #ccc;
}
article .chapo,
article .content,
article .ps {
  clear: both;
}

#archives section h3 {
  text-align: right;
  font-size: 72px;
  color: #efefef;
}
#archives section .date {
  text-align: right;
  width: 200px;
}

nav.articles-nav {
  margin: 5px 0;
}

code {
  font-size: 12px;
	font-family: "DejaVu sans Mono", monaco, consolas, monospace;
}
 
pre {
  font-size: 12px;
	font-family: "DejaVu sans Mono", monaco, consolas, monospace;
	background: #efefef;
  padding: 1em;
	overflow: auto;
}

abbr {
/*  border-bottom: 1px dashed #000;*/
  text-decoration: underline;
  cursor: help;
}

.img-left {
  float: left;
  margin: 0 1em 1em 0;
}
.img-right {
  float: right;
  margin: 0 1em 0 1em;
}

#logo {
  text-align: center;
}

.hide { display: none; }